/* Imports */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

/* Overwriting Bootstrap styles. */

.row,
.container-fluid {
	padding: 0;
	margin: 0;
}

.row .col,
.row .col-1,
.row .col-10,
.row .col-11,
.row .col-12,
.row .col-2,
.row .col-3,
.row .col-4,
.row .col-5,
.row .col-6,
.row .col-7,
.row .col-8,
.row .col-9,
.row .col-auto,
.row .col-lg,
.row .col-lg-1,
.row .col-lg-10,
.row .col-lg-11,
.row .col-lg-12,
.row .col-lg-2,
.row .col-lg-3,
.row .col-lg-4,
.row .col-lg-5,
.row .col-lg-6,
.row .col-lg-7,
.row .col-lg-8,
.row .col-lg-9,
.row .col-lg-auto,
.row .col-md,
.row .col-md-1,
.row .col-md-10,
.row .col-md-11,
.row .col-md-12,
.row .col-md-2,
.row .col-md-3,
.row .col-md-4,
.row .col-md-5,
.row .col-md-6,
.row .col-md-7,
.row .col-md-8,
.row .col-md-9,
.row .col-md-auto,
.row .col-sm,
.row .col-sm-1,
.row .col-sm-10,
.row .col-sm-11,
.row .col-sm-12,
.row .col-sm-2,
.row .col-sm-3,
.row .col-sm-4,
.row .col-sm-5,
.row .col-sm-6,
.row .col-sm-7,
.row .col-sm-8,
.row .col-sm-9,
.row .col-sm-auto,
.row .col-xl,
.row .col-xl-1,
.row .col-xl-10,
.row .col-xl-11,
.row .col-xl-12,
.row .col-xl-2,
.row .col-xl-3,
.row .col-xl-4,
.row .col-xl-5,
.row .col-xl-6,
.row .col-xl-7,
.row .col-xl-8,
.row .col-xl-9,
.row .col-xl-auto {
	padding: 0;
}

/* Main styles */

* {
	box-sizing: border-box;
	transition: 0.15s;
}

body {
	font-family: 'Roboto', sans-serif;
	border: none;
	background: #21252D;
	color: #ffffff;
	max-width: 100vw;
	width: 100%;
	line-height: 1.61;
	font-size: 1rem;
	margin: 0;
	padding: 0;
}

a, a:hover, a:active{
	text-decoration: none;
}

.contact{
	text-align: center;
}

.contact-button{
	padding: 1rem;
	border-radius: 0.35rem;
	border: 0.15rem solid #6201ED;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	margin: 1rem;
	transition: 0s;
}

.contact-button a{
	color: #212121;
}

.contact-button i{
	transition: 0s;
}

.contact-button:hover{
	background: #6201ED;
}

.contact-button:hover a{
	color: #FFFFFF;
}

.topband {
	background: #6201ed;
	height: 0.35rem;
	width: 100%;
}

.fixedcontainer{
	max-width: 1000px;
	margin: 0 auto;
	padding: 1rem;
}

#header{
	padding: 0.75rem 0;
}

#header .row, section .row{
	align-items: center;
}

#header .headertext{
	font-size: 1.25rem;
	font-weight: 500;
}

#header .applogo{
	max-width: 2rem;
	padding: 0.35rem;
    border: 0.1rem solid white;
    border-radius: 0.25rem;
}

#header .headerright{
	text-align: right;
}

section .row{
	min-height: 85vh;
}

.row .imagecolumn, .row .desccolumn{
	padding: 1rem;
}

.row .imagecolumn{
	display: flex;
	align-items: center;
	justify-content: center;
}

#intro .imagecolumn{
	padding: 0.5rem;
}

.resimage{
	max-width: 90%;
	max-height: 90%;
}

.heading{
	font-size: 1.6rem;
	font-weight: 700;
	text-transform: uppercase;
}

p{
	margin: 1rem 0;
	line-height: 1.85;
}

#theproblem, #collaboration, #support, #final{
	background: #ffffff;
	color: #21252D;
}

#final .fixedcontainer{
	min-height: 85vh;
	text-align: center;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

#final .fixedcontainer .row{
	padding: 2rem 1rem;
	min-height: auto;
}

#final .priceheading{
	font-size: 1.5rem;
	text-transform: capitalize;
	font-weight: 500;
}

#footer{
	padding: 2.5rem 1.5rem;
}

#footer a{
	color: #FFFFFF;
}

@media only screen and (max-width: 576px){
	section .row{
		padding: 3rem 1.5rem;
		max-width: 500px;
	}

	.colreverse .row{
		flex-direction: column-reverse;
	}
}

.redheart{
	color: #e8121c;
}

/* Sidenav */

.menubutton {
	background: #6201ED;
	color: white;
	width: 4rem;
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	position: fixed;
	z-index: 1000;
	bottom: 2rem;
	right: 1.5rem;
	cursor: pointer;
	box-shadow: 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.16),
		0 0.1875rem 0.375rem rgba(0, 0, 0, 0.23);
}

.menubutton:active {
	background-color: transparent;
}

/* Sidemenu */

.sidenav {
	height: 100%;
	width: 0;
	color: white;
	position: fixed;
	z-index: 1001;
	top: 0;
	right: 0;
	background-color: #000000;
	overflow-x: hidden;
	padding-top: 3.75rem;
	transition: 0.5s;
	text-align: center;
	opacity: 0.95;
	overflow-y: auto;
}

.sidenav a {
	padding: 1rem 0;
	text-decoration: none;
	font-size: 1rem;
	text-align: center;
	color: white;
	display: block;
	transition: 0.3s;
}

.sidenav a:hover {
	color: #2d93f8;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 1rem;
	font-size: 1.8rem;
}

.horizontalline-container{
	padding: 0.5rem;
	display: flex;
	justify-content: center;
	margin-top: 0.33rem;
}

.horizontal{
	background: white;
	width: 70%;
	height: 0.15rem;
}

/*
	Browser Window dummy
*/

/* The browser window */
.browsercontainer {
  border: 0.15rem solid #f1f1f1;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: 0 0.1875rem 0.75rem rgba(0, 0, 0, 0.16),
		0 0.1875rem 0.375rem rgba(0, 0, 0, 0.23);
}

/* Container for columns and the top "toolbar" */
.browserrow {
  padding: 0.625rem;
  background: #f1f1f1;
  display: flex;
  align-items: center;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
}

.left {
  width: 15%;
}

.right {
  width: 10%;
}

.middle {
  width: 75%;
}

/* Clear floats after the columns */
.browserrow:after {
  content: "";
  display: table;
  clear: both;
}

/* Three dots */
.dot {
  margin-top: 4px;
  height: 0.75rem;
  width: 0.75rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

/* Style the input field */
.browserinput {
  width: 100%;
  border-radius: 3px;
  border: none;
  background-color: white;
  color: #666;
  padding: 0.1rem 0.5rem;
  display: flex;
  align-items: center;
}

/* Three bars (hamburger menu) */
.bar {
  width: 17px;
  height: 3px;
  background-color: #aaa;
  margin: 3px 0;
  display: block;
}

/* Contact Form at the end. */
.contactform{
	min-width: 80%;
	border-radius: 0.35rem;
	padding: 1.5rem;
	border: 0.125rem solid #cfcfcf;
	text-align: left;
}

.contactform textarea{
	resize: none;
}

.contactform .heading{
	color: #212121;
	font-weight: 600;
	font-size: 1.125rem;
	letter-spacing: 0.1rem;
	margin: 0 0 0.675rem;
	padding: 0.125rem 0;
	border-bottom: 0.125rem solid #212121;
	display: inline-block;
}